@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');

*{
    padding: 0;
}

body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    
    
}

header{
    text-align: center;
    border: 2px solid #898989;
    
}

ul{
    list-style: none;
    padding: 0px;
}

#inicio li {
    display: inline-block;
    padding: 10px 20px;
}

li a {
    text-decoration: none;
    color:#494949;
    font-weight: 400;
}

header h1 {
    text-transform: uppercase;
}

img{
    width: 100%;
    height: 80%;
}

footer{
    background-color: #e4e4e4;
}

footer p {
    text-align: center;
    padding: 10px;
    margin: 0px;
    
}


main#banner{
    width: '100%';
    height: calc(69vh);
    background-image: url(../img/jane.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main#about{
    text-align: center;
    
}

main#about p{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

main#about cite{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

main#about div{
    width: 30%;
    height: 50vh;
    background-color: #494949;
    background-image: url(../img/jane2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 50px;
}

#lista-about{
    font-weight: 700;
}

#lista-index{
    font-weight: 700;
}

#lista-music{
    font-weight: 700;
}

#lista-contact{
    font-weight: 700;
}


main#music{
    margin-left: 100px;
    
}

main#contact{
   padding: 50px 200px;
    
}

main#contact #linha{
    width: 100%;
    height: 2px;
    background-color: #898989;
}
